__pycache__
bme280.py
bme680.py
config.py
ads1x15.py
STIA-436.gsheet
micropython-adafruit-ads1015
Adafruit_CircuitPython_BME680
ClassNotes.txt
ppd42ns.py
Collateral
Class
bme680
tests
usmbus
PCB
AQ-Shield
Base
